<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/uetcodehub?autoReconnect=true&amp;useUnicode=true&amp;createDatabaseIfNotExist=true&amp;characterEncoding=utf-8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.connection.pool_size">10</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.connection.CharSet">utf8</property>
    <property name="hibernate.connection.characterEncoding">utf8</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="vn/edu/vnu/uet/fit/entity/Semesters.hbm.xml"/>
    <mapping resource="vn/edu/vnu/uet/fit/entity/Problems.hbm.xml"/>
    <mapping resource="vn/edu/vnu/uet/fit/entity/Submissions.hbm.xml"/>
    <mapping resource="vn/edu/vnu/uet/fit/entity/Courses.hbm.xml"/>
    <mapping resource="vn/edu/vnu/uet/fit/entity/Courseproblems.hbm.xml"/>
    <mapping resource="vn/edu/vnu/uet/fit/entity/Exams.hbm.xml"/>
    <mapping resource="vn/edu/vnu/uet/fit/entity/Userrole.hbm.xml"/>
    <mapping resource="vn/edu/vnu/uet/fit/entity/Users.hbm.xml"/>
    <mapping resource="vn/edu/vnu/uet/fit/entity/Examproblems.hbm.xml"/>
    <mapping resource="vn/edu/vnu/uet/fit/entity/Courseusers.hbm.xml"/>
    <mapping resource="vn/edu/vnu/uet/fit/entity/Courseusersrole.hbm.xml"/>
    <mapping resource="vn/edu/vnu/uet/fit/entity/report/course/StudentDetailReportByCourse.hbm.xml"/>
    <mapping resource="vn/edu/vnu/uet/fit/entity/report/course/StudentReportByCourse.hbm.xml"/>
    <mapping resource="vn/edu/vnu/uet/fit/entity/report/course/CourseReportOverall.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
